<!DOCTYPE html>
<html>
<head>
    <title>Add Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
     <div class="lfog tisa3">
        <div class="logo-user">
          <img src="{{ url_for('static', filename='image/HOME.png') }}"
             width="120"/>
             {% if session.get("username") %}
          <span class="welcome-user">
              Welcome, {{ session["username"] }}
           </span>
           {% endif %}
        </div>
        <div class="tisa3 lonedialelein lfog">
           <a href="/">HOME</a>
           <a href="/add">ADD</a>
           <a href="/update">UPDP</a>
           <a href="/delete">DELP</a>
           <a href="/account">ACCOUNT</a>
           <a href="/developer">DEVI</a>
           {% if session.get("username") %}
            <a href="/logout">
                LOGOUT
            </a>
            {% else %}
            <a href="/signin" class="sign-in">
                SIGN IN
            </a>
            {% endif %}
         </div>
      </div>
    <div class=" lmohtawa">
        <div class="lhade">
          <span class="diali">welcome to ADD a new contacts</span>
          <p>This site is a simple and practical contact management system that allows the user to save people's names and phone numbers in one place in an organized and easy-to-access manner.
             The site helps keep data on people you know by providing the basic function to ADD a new contact instantly to the system.
              It displays all these added contacts in an organized list directly on the homepage for quick access, ensuring that every new entry strictly includes both a name and a phone number to be successfully saved.
               This site aims to provide a fast and secure way to organize contact data, making the process of saving names and numbers easier and more efficient through a simple user interface that suits all users.
          </p>
        </div>
        <div class="image">
             <img class="imagepage2" src="{{ url_for('static', filename='image/ADD.png') }}"
             width="250" height="200"/>
        </div>
    </div>
    <div class="add-box">
      <h2>Add Contact</h2>
       {% if message %}
         <p class="message">{{ message }}</p>
       {% endif %}
       <form method="POST">
           <label>Name</label>
           <input
              type="text"
              name="name"
              placeholder="Enter Name"
              required
            >
           <label>Phone</label>
           <input 
             type="text"
             name="phone"
             placeholder="Enter Phone Number"
             required
            >
           <button type="submit">
            Add Contact
           </button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>